body {
  background-image: url("../images/page-bg.jpg");
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
  color: #00ffff;
  font-size: 20px
}

canvas {
  border: 1px solid black;
  display: block;
  background-color: #FFF;
}

#instructions {
  text-align: center;
  width: 400px; 
}

#start-btn {
  width: 200px;
  height: 80px;
  font-family: 'Orbitron', sans-serif;
  position: absolute;
  bottom: 400px;
  left: 100px;
  border-radius: 10px;
  background-color: darkmagenta;
  text-align: center;
  vertical-align: middle;
  color: #00ffff;
  font-size: 32px;
  font-weight: bold;
}

img {
  display: inline-block;
  margin-top: 50px;
}

h2 {
  font-size: 50px;
}

#game {
  width: 400px;
  position: relative;
}

.tch-ctrl {
  position: relative;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: lightgray;
  opacity: 0.5;
  bottom: 180px;
  z-index: 1;
}

#right-btn {
  left: 240px;
}