body {
  background-image: url("../images/page-bg.jpg");
  background-size: contain;
  font-family: 'Orbitron', sans-serif;
  color: #00ffff;
  font-size: 20px
}

canvas {
  border: 1px solid black;
  display: block;
  float: left;
  background-color: #FFF
}

#instructions {
  margin: 50px;
  width: 500px;
  float: left; 
}

button {
  width: 200px;
  height: 80px;
  font-family: 'Orbitron', sans-serif;
  border-radius: 10px;
  background-color: darkmagenta;
  margin: 50px 50px;
  text-align: center;
  vertical-align: middle;
  color: #00ffff;
  font-size: 28px;
  font-weight: bold;
}

#restart-btn {
  font-size: 24px;
}

img {
  display: inline-block;
  margin-top: 50px;
}

h2 {
  font-size: 50px;
}
