body {
  background-image: url("../images/page-bg.jpg");
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
  color: #00ffff;
  font-size: 20px
}

canvas {
  border: 1px solid black;
  display: block;
  background-color: #FFF
}

#instructions {
  text-align: center;
  margin: 0 50px;
  width: 500px;
  float: left; 
}

#start-btn {
  width: 200px;
  height: 80px;
  font-family: 'Orbitron', sans-serif;
  border-radius: 10px;
  background-color: darkmagenta;
  margin: 65px 50px;
  text-align: center;
  vertical-align: middle;
  color: #00ffff;
  font-size: 32px;
  font-weight: bold;
}

img {
  display: inline-block;
  margin-top: 50px;
}

h2 {
  font-size: 50px;
}


.tch-ctrl {
  position: relative;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: lightgray;
  opacity: 0.5;
  bottom: 180px;
}

#right-btn {
  left: 288px;
}